(INSTRUCTIONS (type bob (record (int fred) (string bill))) (VARDECL blah (array int (RANGE 1 (* 5 5)))) (PROCDEF hi (FORMALARGS (int bob)) (INSTRUCTIONS (if (or (>= bob "hi") (< 5 (* 6 6))) (INSTRUCTIONS (CALL callinate 5)) (elsif 1 (INSTRUCTIONS (put stream "ello world" .))) (else (INSTRUCTIONS (CALL ed hi "bob" 5)))))) (FUNCDEF ed (array int (RANGE 1 (* 6 6))) (INSTRUCTIONS (for i (RANGE 1 (CALL upper fred)) (INSTRUCTIONS (loop (INSTRUCTIONS (exit (= bob 'h')))))) (result (mod 4 6)))) (VARDECL bob hi (+ 54 (mod (* 5 6) 7))) (CALL ed))